[
  {
    "essential": true,
    "memory": 256,
    "name": "${app_name}",
    "cpu": 256,
    "image": "${repository_url}",
    "workingDirectory": "/code",
    "command": [
      "npm",
      "start"
    ],
    "portMappings": [
      {
        "containerPort": ${app_port},
        "hostPort": ${app_port}
      }
    ]
  }
]
